form {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.matrix-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
