<form [formGroup]="coefficientsForm">
  <div class="input-wrapper">
    <label>Mod</label>
    <div class="mod-section">
      <input formControlName="mod"
             [ngClass]="{'test-passed': !!(polynomTestResult$ | async), 'test-failed': (polynomTestResult$ | async) === false}"/>
      <button (click)="testPolynom()" [disabled]="testLoading$ | async">Test</button>
      <button (click)="generatePolynom()" [disabled]="testLoading$ | async">Generate</button>
    </div>
  </div>
  <div class="input-wrapper">
    <label>A</label>
    <input formControlName="A"/>
  </div>
  <div class="input-wrapper">
    <label>B</label>
    <input formControlName="B"/>
  </div>
  <div class="input-wrapper">
    <label>C</label>
    <input formControlName="C"/>
  </div>
</form>
