<form [formGroup]="coefficientsForm">
  <div class="input-wrapper">
    <label>Mod</label>
    <div class="mod-section">
      <input class="auto-generation" formControlName="mod"
             [ngClass]="{'test-passed': !!(polynomTestResult$ | async), 'test-failed': (polynomTestResult$ | async) === false}"
             [value]="coefficientsForm.get('mod').value | uppercase"/>
      <button (click)="testPolynom()"
              [disabled]="(testLoading$ | async) || (getPolynomPower() > MAX_FACTORIZED_POWER && (!coefficientsForm.get('multipliers').valid || !coefficientsForm.get('multipliers').value))">Test</button>
      <button (click)="generatePolynom()"
              [disabled]="(testLoading$ | async) || !coefficientsForm.get('power').valid ||
              (coefficientsForm.get('power').value > MAX_FACTORIZED_POWER &&
              (!coefficientsForm.get('multipliers').valid || !coefficientsForm.get('multipliers').value))
      ">
        Generate
      </button>
      <input formControlName="multipliers" class="multipliers" placeholder="Multipliers...">
      <label class="file-upload-label" for="file-upload-multipliers" tabindex="0">Load</label>
      <input id="file-upload-multipliers" type="file" accept="text/plain" (change)="onLoadChange($event)" hidden>
      <input formControlName="power" class="power" placeholder="Power...">
    </div>
  </div>
  <div class="input-wrapper">
    <label>A</label>
    <input formControlName="A" [value]="coefficientsForm.get('A').value | uppercase"/>
  </div>
  <div class="input-wrapper">
    <label>B</label>
    <input formControlName="B" [value]="coefficientsForm.get('B').value | uppercase"/>
  </div>
  <div class="input-wrapper">
    <label>C</label>
    <input formControlName="C" [value]="coefficientsForm.get('C').value | uppercase"/>
  </div>
</form>
