form {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr;
  grid-gap: 0.5vw;
  padding: 5px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper > input {
  width: 98%;
}

.input-wrapper input {
  height: 25px;
}

.mod-section {
  display: grid;
  grid-template-columns: 60% 18% 19%;
  grid-template-rows: 25px;
  grid-gap: 0.5vw;
  align-items: center;
  margin-top: 3px;
}

.test-passed {
  background: var(--green-higlight);
}

.test-failed {
  background: var(--red-higlight);
}
