<form [formGroup]="digitalSignatureForm">
  <div class="bordered">
    <div class="input-wrapper">
      <input formControlName="message" [value]="digitalSignatureForm.get('message').value | uppercase" placeholder="Message hash..."/>
    </div>
    <div class="input-wrapper">
      <input formControlName="qMod" placeholder="q..."/>
    </div>
  </div>
  <p class="blocks-separator">Secret Key Generation</p>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <p class="header">Q (secret key)</p>
      <vector-view formControlName="Q" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Q')">Copy</button>
        <button (click)="onPasteClick('Q')">Paste</button>
        <button (click)="onRandomQClick('Q')">Random</button>
        <button (click)="onClearClick('Q')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <p class="header">N (secret key)</p>
      <vector-view formControlName="NDS" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('NDS')">Copy</button>
        <button (click)="onPasteClick('NDS')">Paste</button>
        <button (click)="onRandomNClick('NDS')">Random</button>
        <button (click)="onClearClick('NDS')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="input-wrapper">
        <label>h<sub>1</sub></label>
        <input formControlName="h1" [value]="digitalSignatureForm.get('h1').value | uppercase"/>
        <label>n<sub>1</sub></label>
        <input formControlName="n1" [value]="digitalSignatureForm.get('n1').value | uppercase"/>
      </div>
      <div class="input-wrapper">
        <label>h<sub>2</sub></label>
        <input formControlName="h2" [value]="digitalSignatureForm.get('h2').value | uppercase"/>
        <label>n<sub>2</sub></label>
        <input formControlName="n2" [value]="digitalSignatureForm.get('n2').value | uppercase"/>
      </div>
      <div class="input-wrapper">
        <label>h<sub>3</sub></label>
        <input formControlName="h3" [value]="digitalSignatureForm.get('h3').value | uppercase"/>
        <label>n<sub>3</sub></label>
        <input formControlName="n3" [value]="digitalSignatureForm.get('n3').value | uppercase"/>
      </div>
    </div>
  </div>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>E<sub>r1</sub></span>
          <button (click)="onEr1CalculateClick()"
                  [disabled]="!digitalSignatureForm.get('h1').valid || !digitalSignatureForm.get('n1').valid ||
                  !(NDSValid$ | async) || !(coefficientsValid$ | async) || !(modValid$ | async)"
          >Calculate</button>
      </div>
      <vector-view formControlName="Er1" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Er1')">Copy</button>
        <button (click)="onClearClick('Er1')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>E<sub>r2</sub></span>
        <button (click)="onEr2CalculateClick()"
                [disabled]="!digitalSignatureForm.get('h2').valid || !digitalSignatureForm.get('n2').valid ||
                  !(NDSValid$ | async) || !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="Er2" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Er2')">Copy</button>
        <button (click)="onClearClick('Er2')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>E<sub>r3</sub></span>
        <button (click)="onEr3CalculateClick()"
                [disabled]="!digitalSignatureForm.get('h3').valid || !digitalSignatureForm.get('n3').valid ||
                  !(NDSValid$ | async) || !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="Er3" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Er3')">Copy</button>
        <button (click)="onClearClick('Er3')">Clear</button>
      </div>
    </div>
  </div>
  <p class="blocks-separator">Public Key Generation</p>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>T</span>
        <button (click)="onTCalculateClick()"
                [disabled]="!(QValid$ | async) || !(Er1Valid$ | async) || !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="T" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('T')">Copy</button>
        <button (click)="onClearClick('T')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>P</span>
        <button (click)="onPCalculateClick()"
                [disabled]="!(TValid$ | async) || !(Er2Valid$ | async) || !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="P" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('P')">Copy</button>
        <button (click)="onClearClick('P')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>L (secret key)</span>
        <button (click)="onLCalculateClick()"
                [disabled]="!(PValid$ | async) || !(Er3Valid$ | async) || !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="L" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('L')">Copy</button>
        <button (click)="onClearClick('L')">Clear</button>
      </div>
    </div>
  </div>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>Random X (secret key)</span>
      </div>
      <div class="input-wrapper">
        <label><i>x</i></label>
        <input formControlName="randomX"/>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>Y (public key)</span>
        <button (click)="onYCalculateClick()"
                [disabled]="!digitalSignatureForm.get('randomX').valid || !(QValid$ | async) || !(NDSValid$ | async) || !(TValid$ | async) ||
                !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="Y" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Y')">Copy</button>
        <button (click)="onClearClick('Y')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>U (public key)</span>
        <button (click)="onUCalculateClick()"
                [disabled]="!(PValid$ | async) || !(NDSValid$ | async) || !(LValid$ | async) ||
                !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="U" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('U')">Copy</button>
        <button (click)="onClearClick('U')">Clear</button>
      </div>
    </div>
  </div>
  <p class="blocks-separator">Signature Generation</p>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>Random K</span>
      </div>
      <div class="input-wrapper">
        <label><i>k</i></label>
        <input formControlName="randomK"/>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>R</span>
        <button (click)="onRCalculateClick()"
                [disabled]="!digitalSignatureForm.get('randomK').valid || !(QValid$ | async) || !(NDSValid$ | async) || !(LValid$ | async) ||
                !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="R" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('R')">Copy</button>
        <button (click)="onClearClick('R')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>Signature Elements</span>
        <button (click)="onECalculateClick()"
                [disabled]="!digitalSignatureForm.get('message').valid || !(RValid$ | async) || !(modValid$ | async)"
        >Calculate <i>e</i></button>
        <button (click)="onSCalculateClick()"
                [disabled]="!digitalSignatureForm.get('e').valid"
        >Calculate <i>s</i></button>
      </div>
      <div class="input-wrapper">
        <label><i>e</i></label>
        <input formControlName="e" [value]="digitalSignatureForm.get('e').value | uppercase"/>
        <label><i>s</i></label>
        <input formControlName="s" [value]="digitalSignatureForm.get('s').value | uppercase"/>
      </div>
    </div>
  </div>
  <p class="blocks-separator">Signature Verification</p>
  <div class="randoms-container">
    <div class="vector-wrapper three-actions">
      <div class="header">
        <span>Y Test (public key)</span>
      </div>
      <vector-view formControlName="YTest" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('YTest')">Copy</button>
        <button (click)="onPasteClick('YTest')">Paste</button>
        <button (click)="onClearClick('YTest')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper three-actions">
      <div class="header">
        <span>U Test (public key)</span>
      </div>
      <vector-view formControlName="UTest" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('UTest')">Copy</button>
        <button (click)="onPasteClick('UTest')">Paste</button>
        <button (click)="onClearClick('UTest')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>Test Signature Elements</span>
      </div>
      <div class="input-wrapper">
        <label><i>e</i> Test</label>
        <input formControlName="eTest"/>
        <label><i>s</i> Test</label>
        <input formControlName="sTest"/>
      </div>
    </div>
  </div>
  <div class="signature-generation-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>R</span>
        <button (click)="onRWaveCalculateClick()"
                [disabled]="!(YTestValid$ | async) || !(UTestValid$ | async) || !digitalSignatureForm.get('sTest').valid ||
                 !digitalSignatureForm.get('sTest').valid || !(coefficientsValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <vector-view formControlName="RWave" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('RWave')">Copy</button>
        <button (click)="onClearClick('RWave')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>Signature Element</span>
        <button (click)="onEWaveCalculateClick()"
                [disabled]="!digitalSignatureForm.get('message').valid || !(RWaveValid$ | async) || !(modValid$ | async)"
        >Calculate</button>
      </div>
      <div class="input-wrapper">
        <label><i>e</i></label>
        <input formControlName="eWave"/>
      </div>
    </div>
  </div>
</form>
