<form [formGroup]="digitalSignatureForm">
  <div class="bordered">
    <div class="input-wrapper">
      <input formControlName="message" placeholder="Message..."/>
    </div>
  </div>
  <p class="blocks-separator">Secret Key Generation</p>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <p class="header">Q (secret key)</p>
      <vector-view formControlName="Q" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Q')">Copy</button>
        <button (click)="onPasteClick('Q')">Paste</button>
        <button (click)="onRandomClick('Q')">Random</button>
        <button (click)="onClearClick('Q')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <p class="header">N (secret key)</p>
      <vector-view formControlName="NDS" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('NDS')">Copy</button>
        <button (click)="onPasteClick('NDS')">Paste</button>
        <button (click)="onRandomClick('NDS')">Random</button>
        <button (click)="onClearClick('NDS')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="input-wrapper">
        <label>h<sub>1</sub></label>
        <input formControlName="h1"/>
        <label>n<sub>1</sub></label>
        <input formControlName="n1"/>
      </div>
      <div class="input-wrapper">
        <label>h<sub>2</sub></label>
        <input formControlName="h2"/>
        <label>n<sub>2</sub></label>
        <input formControlName="n2"/>
      </div>
      <div class="input-wrapper">
        <label>h<sub>3</sub></label>
        <input formControlName="h3"/>
        <label>n<sub>3</sub></label>
        <input formControlName="n3"/>
      </div>
    </div>
  </div>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>E<sub>r1</sub> (secret key)</span>
          <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="Er1" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Er1')">Copy</button>
        <button (click)="onClearClick('Er1')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>E<sub>r2</sub> (secret key)</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="Er2" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Er2')">Copy</button>
        <button (click)="onClearClick('Er2')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>E<sub>r3</sub> (secret key)</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="Er3" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Er3')">Copy</button>
        <button (click)="onClearClick('Er3')">Clear</button>
      </div>
    </div>
  </div>
  <p class="blocks-separator">Public Key Generation</p>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>T</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="T" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('T')">Copy</button>
        <button (click)="onClearClick('T')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>P</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="P" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('P')">Copy</button>
        <button (click)="onClearClick('P')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>L</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="L" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('L')">Copy</button>
        <button (click)="onClearClick('L')">Clear</button>
      </div>
    </div>
  </div>
  <div class="randoms-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>Y (public key)</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="Y" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('Y')">Copy</button>
        <button (click)="onClearClick('Y')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>U (public key)</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="U" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('U')">Copy</button>
        <button (click)="onClearClick('U')">Clear</button>
      </div>
    </div>
  </div>
  <p class="blocks-separator">Signature Generation</p>
  <div class="signature-generation-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>R</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="R" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('R')">Copy</button>
        <button (click)="onClearClick('R')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>Signature Elements</span>
        <button (click)="0">Calculate <i>e</i></button>
        <button (click)="0">Calculate <i>s</i></button>
      </div>
      <div class="input-wrapper">
        <label><i>e</i></label>
        <input formControlName="e"/>
        <label><i>s</i></label>
        <input formControlName="s"/>
      </div>
    </div>
  </div>
  <p class="blocks-separator">Signature Verification</p>
  <div class="randoms-container">
    <div class="vector-wrapper three-actions">
      <div class="header">
        <span>Y Test (public key)</span>
      </div>
      <vector-view formControlName="YTest" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('YTest')">Copy</button>
        <button (click)="onPasteClick('YTest')">Paste</button>
        <button (click)="onClearClick('YTest')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper three-actions">
      <div class="header">
        <span>U Test (public key)</span>
      </div>
      <vector-view formControlName="UTest" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('UTest')">Copy</button>
        <button (click)="onPasteClick('UTest')">Paste</button>
        <button (click)="onClearClick('UTest')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>Test Signature Elements</span>
      </div>
      <div class="input-wrapper">
        <label><i>e</i> Test</label>
        <input formControlName="eTest"/>
        <label><i>s</i> Test</label>
        <input formControlName="sTest"/>
      </div>
    </div>
  </div>
  <div class="signature-generation-container">
    <div class="vector-wrapper">
      <div class="header">
        <span>R</span>
        <button (click)="0">Calculate</button>
      </div>
      <vector-view formControlName="RWave" [componentNames]="componentNames"></vector-view>
      <div class="vector-actions">
        <button (click)="onCopyClick('RWave')">Copy</button>
        <button (click)="onClearClick('RWave')">Clear</button>
      </div>
    </div>
    <div class="vector-wrapper">
      <div class="header">
        <span>Signature Element</span>
        <button (click)="0">Calculate</button>
      </div>
      <div class="input-wrapper">
        <label><i>e</i></label>
        <input formControlName="eWave"/>
      </div>
    </div>
  </div>
</form>
