form {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr;
  grid-gap: 1.5vw;
  padding: 5px;
}

.input-wrapper input {
  width: 99%;
}


/*.input-wrapper {*/
  /*display: grid;*/
  /*grid-template-rows: 1fr;*/
  /*grid-template-columns: 5% 95%;*/
/*}*/

/*.input-wrapper label {*/
  /*text-align: right;*/
/*}*/

.input-wrapper input {
  height: 28px;
}
