.container {
  padding: 5px;
}

.btn-block {
  display: grid;
  grid-template-columns: 23% 23% 23% 26%;
  grid-gap: 0.5vw;
  align-items: center;
}

.btn-block:first-child {
  margin-bottom: 0.5vw;
}

input {
  width: 100%;
  height: 20px;
}
