.container {
  padding: 5px;
}

.btn-block {
  display: grid;
  /*grid-template-rows: 1fr;*/
  grid-template-columns: 22% 22% 22% 26%;
  grid-gap: 0.5vw;
}

.btn-block:first-child {
  margin-bottom: 0.5vw;
}
