.container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 40% 58%;
    grid-gap: 2vw;
    margin: 5px 0;
}

.bordered {
    border: var(--border-width) var(--container-border) solid;
    padding: 5px;
}

.matrix-block-wrapper {
  height: 100%;
}
