<div class="layout-wrapper">
  <tabs>
    <tab tabTitle="m = 4" (tabSelected)="onTabSelect(4)">
      <m-dimensions [m]="4"></m-dimensions>
    </tab>
    <tab tabTitle="m = 6" (tabSelected)="onTabSelect(6)">
      <m-dimensions [m]="6"></m-dimensions>
    </tab>
    <tab tabTitle="Polynoms">
      <polynoms></polynoms>
    </tab>
    <!-- In digital signature algorithm we'll need the 4 dimension coefficients and mod-->
    <tab tabTitle="Digital Signature" (tabSelected)="onTabSelect(4)">
      <digital-signature></digital-signature>
    </tab>
  </tabs>
</div>
