<form [formGroup]="vectorsForm">
  <div class="vector-wrapper">
    <p class="header">Test Vector A</p>
    <vector-view formControlName="A" [componentNames]="componentNames"></vector-view>
    <div class="vector-actions">
      <button>Copy</button>
      <button>Paste</button>
      <button>Clear</button>
    </div>
  </div>
  <div class="vector-wrapper">
    <p class="header">Test Vector B</p>
    <vector-view formControlName="B" [componentNames]="componentNames"></vector-view>
    <div class="vector-actions">
      <button>Copy</button>
      <button>Paste</button>
      <button>Clear</button>
    </div>
  </div>
  <div class="vector-wrapper">
    <p class="header">Test Vector C</p>
    <vector-view formControlName="C" [componentNames]="componentNames"></vector-view>
    <div class="vector-actions">
      <button>Copy</button>
      <button>Paste</button>
      <button>Clear</button>
    </div>
  </div>
</form>
