form {
  display: flex;
  justify-content: space-around;
}

.vector-wrapper {
  border: var(--border-width) var(--container-border) solid;
  padding: 10px;
  position: relative;
  flex-grow: 1;
}

.vector-wrapper:not(:first-child):not(:last-child) {
  margin: 0 3px;
}

.vector-wrapper:first-child {
  margin-right: 2px;
}

.vector-wrapper:last-child {
  margin-left: 2px;
}

.vector-actions {
  display: grid;
  grid-template-columns: repeat(2, 48.5%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 0.5vw;
  margin-top: 10px;
}

.header {
  background: var(--container-bg);
  font-size: 16px;
  padding: 0 5px;
  margin: 0 0 8px 0;
}
