form {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/*.matrix-actions {*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*margin-bottom: 10px;*/
/*}*/

.matrix-actions {
  display: grid;
  grid-template-columns: repeat(6, 15.5%);
  grid-gap: 0.5vw;
  margin-bottom: 10px;
}
