html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif, "Helvetica Neue Light",
  "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial,
  sans-serif;
  overflow: hidden;
  background: var(--container-bg);
}

button {
  background: var(--btn-bg);
  border: var(--border-width) var(--btn-border) solid;
  cursor: pointer;
  padding: 4px 9px;
  font-size: 14px;
}

input {
  padding: 0 5px;
  border: var(--border-width) var(--btn-border) solid;
}

button:hover {
  background: rgba(var(--btn-bg), 0.9);
}

button:active {
  background: var(--btn-active);
  transform: translateY(1px);
}
